<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="./css/main.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="./about">About</a></li>
            <li><a href="./blog">Blog</a></li>
            <li><a href="./images">Images</a></li>
        </ul>
    </nav>
    <div class="container">
        {{ content }}
    </div>
    <footer>
        <ul>
            <li><a href="https://github.com/cr2007" target="_blank">github.com/cr2007</a></li>
            <li><a href="https://cr2007.github.io">cr2007.github.io</a></li>
            <li>
                <a href="https://github.com/cr2007" target="_blank">
                    <picture>
                        <source srcset="../images/GitHub-Mark-Light-32px.png" media="(prefers-color-scheme: dark)">
                        <img alt="GitHub logo" src="./images/GitHub-Mark-32px.png" width="35px">
                    </picture>
                </a>
            </li>
        </ul>
    </footer>
</body>

</html>
