---
layout: default
---

<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
    {{ content }}
</div>

<footer>
    <ul>
        <li><a href="https://github.com/cr2007" target="_blank">github.com/cr2007</a></li>
        <li><a href="https://cr2007.github.io">cr2007.github.io</a></li>
        <li>
            <a href="https://github.com/cr2007" target="_blank">
                <picture>
                    <source srcset="https://github.com/cr2007/cr2007.github.io/blob/main/images/GitHub-Mark-Light-32px.png" media="(prefers-color-scheme: dark)">
                    <img alt="GitHub logo" src="https://github.com/cr2007/cr2007.github.io/blob/main/images/GitHub-Mark-32px.png" width="35px">
                </picture>
            </a>
        </li>
    </ul>
</footer>
